.venv/
venv/
env/


__pycache__/
*.pyc
*.pyo
*.pyd

data/
*.csv
*.xlsx
*.xls
*.json
!rapport_transformations.md

.env
config.ini
secrets.py

# --- Logs & Debug ---
*.log
logs/

# --- IDE & Système ---
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini
